SECRET_KEY=your-secret-key
EMAIL_USER=example@gmail.com
EMAIL_PASS=your-app-password
FRONTEND_URL=localhost:5173
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1,storyhub.com,www.storyhub.com,api.storyhub.com
