amqp==5.3.1
asgiref==3.12.1
attrs==26.1.0
billiard==4.2.4
build==1.5.0
celery==5.6.3
certifi==2026.7.22
cffi==2.1.0
charset-normalizer==3.4.9
click==8.4.2
click-didyoumean==0.3.1
click-plugins==1.1.1.2
click-repl==0.3.0
cryptography==49.0.0
Django==6.0.7
django-cleanup==9.0.0
django-cors-headers==4.9.0
django-extensions==4.1
django-filter==26.1
django-redis==7.0.0
django-silk==5.5.0
djangorestframework==3.17.1
djangorestframework_simplejwt==5.5.1
djoser==2.3.3
drf-spectacular==0.30.0
factory_boy==3.3.3
Faker==40.36.0
filetype==1.2.0
google-auth==2.56.3
gprof2dot==2025.4.14
hiredis==3.4.0
idna==3.18
inflection==0.5.1
iniconfig==2.3.0
installer==1.0.1
jsonschema==4.26.0
jsonschema-specifications==2025.9.1
kombu==5.6.2
nab-index==0.0.13
nab-python==0.0.13
nab-resolver==0.0.13
packaging==26.2
pillow==12.3.0
pipdeptree==4.2.0
pluggy==1.6.0
prompt_toolkit==3.0.52
pyasn1==0.6.4
pyasn1_modules==0.4.2
pycparser==3.0
Pygments==2.20.0
PyJWT==2.13.0
pyproject_hooks==1.2.0
pytest==9.1.1
python-dateutil==2.9.0.post0
python-dotenv==1.2.2
PyYAML==6.0.3
redis==8.0.1
referencing==0.37.0
requests==2.34.2
rpds-py==2026.6.3
six==1.17.0
sqlparse==0.5.5
tomli==2.4.1
tomli_w==1.2.0
truststore==0.10.4
typing_extensions==4.16.0
tzdata==2026.3
tzlocal==5.4.4
uritemplate==4.2.0
urllib3==2.7.0
vine==5.1.0
wcwidth==0.8.2
